* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background: -o-linear-gradient(45 deg, #EECFBA, #C5DDE8);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shoppage {
  padding: 15px 0;
  background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}

h1 {
  margin-top: 0;
}

.row {
  display: flex;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  border: 2px solid;
  border-radius: 20px;
}

.products {
  border: 2px solid;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.products .product-tile {
  width: 50%;
}

.btn {
  width: 200px;
  height: 30px;
  margin: 30px;
  border-radius: 20px;
}

.btn_main {
  width: 200px;
  height: 30px;
  margin: 30px;
  background: aqua;
  border-radius: 20px;
}

.burgersize {
  width: 60%;
  align-items: center;
}

#root {
  width: 100%;
}